.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-height: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
}

.content {
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #1d4ed8;
}

.description {
  font-size: 1rem;
  color: #4b5563;
  margin-bottom: 20px;
  flex-grow: 1;
}

.ctaButton {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #1d4ed8;
  color: white;
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
}

.ctaButton:hover {
  background-color: white;
  color: #1d4ed8;
  border-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card {
      max-width: 90%;
      padding: 15px;
      min-height: initial;
  }

  .title {
      font-size: 1.5rem;
  }

  .description {
      font-size: 0.9rem;
  }

  .ctaButton {
      padding: 0.5rem 1rem;
  }
}